In [1]:
import os
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

In [2]:
from movies.models import Movie, Country, Actor, Oscar

In [3]:
Movie.objects.create(title="Pulp Fiction", genre="gangster", year=1994)

In [4]:
Movie.objects.create(title="The Lord of the Rings: The Fellowship of the Ring", genre="fantasy", year=2001)

In [5]:
Movie.objects.create(title="The Lord of the Rings: The Two Towers", genre="fantasy", year=2003)

In [6]:
Movie.objects.create(title="The Lord of the Rings: The Return of the King", genre="fantasy", year=2004)

In [7]:
Movie.objects.create(title="Intouchables", genre="comedy", year=2011)

In [8]:
Movie.objects.create(title="Forrest Gump", genre="comedy/drama", year=1994)

In [9]:
Actor.objects.create(name="Tom", last_name="Hanks", age=64)

In [10]:
Actor.objects.create(name="Orlando", last_name="Bloom", age=44)

In [11]:
Actor.objects.create(name="Ian", last_name="McKellen", age=81)

In [12]:
Actor.objects.create(name="Samuel L.", last_name="Jackson", age=72)

In [13]:
Country.objects.create(name="USA", iso_code="US")

In [14]:
Country.objects.create(name="France", iso_code="FR")

In [15]:
Country.objects.create(name="Poland", iso_code="PL")

In [16]:
Country.objects.create(name="New Zealand", iso_code="NZD")

In [28]:
Oscar.objects.create(category="Best Picture", year=2004)

In [22]:
Oscar.objects.create(category="Best Picture", year=1994)

In [21]:
Oscar.objects.create(category="Best Actor", year=1994)

In [20]:
Oscar.objects.create(category="Best Original Screenplay", year=1095)

In [19]:
Oscar.objects.create(category="Best Costume Design", year=2002)

In [18]:
Oscar.objects.create(category="Best Sound", year=1995)

In [18]:
for i in Oscar.objects.all():
    print(i.category, i.year)

Best Visual Effects 2002
Best Visual Effects 1995
Best Costume Design 2002
Best Original Screenplay 1995
Best Actor 1994
Best Picture 1994
Best Picture 2004

In [17]:
Oscar.objects.filter(category="Best Sound").update(category="Best Visual Effects")

1

In [38]:
Oscar.objects.create(id=1,category="Best Visual Effects", year=2002)

In [39]:
Oscar.objects.get(id=1)

In [41]:
for i in Movie.objects.all():
    print(i.title)

Pulp Fiction
The Lord of the Rings: The Fellowship of the Ring
The Lord of the Rings: The Two Towers
The Lord of the Rings: The Return of the King
Intouchables
Forrest Gump

In [42]:
for i in Country.objects.all():
    print(i.name)

USA
France
Poland
New Zealand

In [5]:
for i in Actor.objects.all():
    print(i.name)

Tom
Orlando
Ian
Samuel L.

### actor to movie ###

#### Many-to-many

In [7]:
m1 = Movie.objects.get(title="Pulp Fiction")
a1 = Actor.objects.get(name="Samuel L.")
m1.actor.add(a1)
m1.save()

In [10]:
m2 = Movie.objects.get(title="Forrest Gump")
a2 = Actor.objects.get(name="Tom")
m2.actor.add(a2)
m2.save()

In [19]:
m3 = Movie.objects.get(title="The Lord of the Rings: The Two Towers")
a3 = Actor.objects.get(name="Ian")
m3.actor.add(a3)
m3.save()

In [16]:
m4 = Movie.objects.get(title="The Lord of the Rings: The Return of the King")
a4 = Actor.objects.get(name="Orlando")
m4.actor.add(a4)
m4.save()

### oscar to movie

In [19]:
m1 = Movie.objects.get(title="Forrest Gump")
o1 = Oscar.objects.get(category="Best Visual Effects", year = 2002)
o1.movie = m1
o1.save()

In [15]:
m1 = Movie.objects.get(title="The Lord of the Rings: The Two Towers")
o1 = Oscar.objects.get(category="Best Visual Effects", year = 2002)
o1.movie = m1
o1.save()

In [21]:
m1 = Movie.objects.get(title="The Lord of the Rings: The Fellowship of the Ring")
o1 = Oscar.objects.get(category="Best Costume Design", year = 2002)
o1.movie = m1
o1.save()

In [22]:
m1 = Movie.objects.get(title="Pulp Fiction")
o1 = Oscar.objects.get(category="Best Original Screenplay", year = 1995)
o1.movie = m1
o1.save()

In [23]:
m1 = Movie.objects.get(title="Forrest Gump")
o1 = Oscar.objects.get(category="Best Actor", year = 1994)
o1.movie = m1
o1.save()

In [24]:
m1 = Movie.objects.get(title="The Lord of the Rings: The Return of the King")
o1 = Oscar.objects.get(category="Best Picture", year = 2004)
o1.movie = m1
o1.save()

In [25]:
m1 = Movie.objects.get(title="Forrest Gump")
o1 = Oscar.objects.get(category="Best Picture", year = 1994)
o1.movie = m1
o1.save()

In [25]:
m1 = Movie.objects.get(title="Forrest Gump")
o1 = Oscar.objects.get(category="Best Picture", year = 1994)
o1.movie = m1
o1.save()

### oscar to actor

In [27]:
a1 = Actor.objects.get(name="Tom")
o1 = Oscar.objects.get(category="Best Actor", year = 1994)
o1.actor = a1
o1.save()

### film to country

In [18]:
m1 = Movie.objects.get(title="Forrest Gump")
c1 = Country.objects.get(name="USA")
m1.country = c1
m1.save()

In [19]:
m1 = Movie.objects.get(title="Pulp Fiction")
c1 = Country.objects.get(name="USA")
m1.country = c1
m1.save()

In [30]:
m1 = Movie.objects.get(title="The Lord of the Rings: The Fellowship of the Ring")
c1 = Country.objects.get(name="USA")
m1.country = c1
m1.save()

In [31]:
m1 = Movie.objects.get(title="The Lord of the Rings: The Two Towers")
c1 = Country.objects.get(name="USA")
m1.country = c1
m1.save()

In [32]:
m1 = Movie.objects.get(title="The Lord of the Rings: The Return of the King")
c1 = Country.objects.get(name="USA")
m1.country = c1
m1.save()

In [24]:
m1 = Movie.objects.get(title="Intouchables")
c1 = Country.objects.get(name="France")
m1.country = c1
m1.save()

### Sprawdź ile oscarów ma każdy film, każdy aktor oraz każda aktorka

In [6]:
for movie in Movie.objects.all():
    print(f"Movie: {movie.title}, numbers of oscars: {Oscar.objects.filter(movie__title=movie.title).count()}")

Movie: Pulp Fiction, numbers of oscars: 1
Movie: The Lord of the Rings: The Fellowship of the Ring, numbers of oscars: 2
Movie: The Lord of the Rings: The Two Towers, numbers of oscars: 0
Movie: The Lord of the Rings: The Return of the King, numbers of oscars: 1
Movie: Intouchables, numbers of oscars: 0
Movie: Forrest Gump, numbers of oscars: 3

In [43]:
for actor in Actor.objects.all():
    print(f"Actor: {actor.name} {actor.last_name}, numbers of oscars: {Oscar.objects.filter(actor__name=actor.name).count()}")

Actor: Tom Hanks, numbers of oscars: 1
Actor: Orlando Bloom, numbers of oscars: 0
Actor: Ian McKellen, numbers of oscars: 0
Actor: Samuel L. Jackson, numbers of oscars: 0

### Pokaż tylko amerykańskie filmy

In [33]:
for movie in Movie.objects.filter(country__name="USA"):
    print(movie.title)

Pulp Fiction
The Lord of the Rings: The Fellowship of the Ring
The Lord of the Rings: The Two Towers
The Lord of the Rings: The Return of the King
Forrest Gump

In [27]:
print(Movie.objects.exclude(country__name="USA").query)

SELECT "movies_movie"."id", "movies_movie"."title", "movies_movie"."genre", "movies_movie"."year", "movies_movie"."actor_id", "movies_movie"."country_id" FROM "movies_movie" LEFT OUTER JOIN "movies_country" ON ("movies_movie"."country_id" = "movies_country"."id") WHERE NOT ("movies_country"."name" = USA AND "movies_country"."name" IS NOT NULL)

### Pokaż filmy, które nie są amerykańskie

In [7]:
for movie in Movie.objects.exclude(country__name="USA"):
    print(movie.title)

Intouchables

### Wybierz aktórw oraz aktorki, które mają powyżej 30 lat

In [104]:
Actor.objects.filter(age__gt = 30).values()

<QuerySet [{'id': 1, 'name': 'Tom', 'last_name': 'Hanks', 'age': 64}, {'id': 2, 'name': 'Orlando', 'last_name': 'Bloom', 'age': 44}, {'id': 3, 'name': 'Ian', 'last_name': 'McKellen', 'age': 81}, {'id': 4, 'name': 'Samuel L.', 'last_name': 'Jackson', 'age': 72}]>

### Uporządkuj aktorów oraz aktorki według wieku

In [8]:
Actor.objects.order_by("age")

### Sprawdź, który film zdobył najwięcej oskarów w kategorii “najlepszy film”

In [4]:
Movie.objects.filter(oscar_for_movies__category="Best Picture")

In [3]:
Movie.objects.values("title").annotate(nr_of_oscars = Count("oscar_for_movies__category")).order_by("-nr_of_oscars")[0]

{'title': 'Forrest Gump', 'nr_of_oscars': 3}

### Wybierz film, w którym zagrało najwięcej aktorów (*annotate)

In [20]:
print(Actor.objects.values('name').annotate(movies_count=Count('movies')).order_by('-movies_count').query)
Actor.objects.values('name').annotate(movies_count=Count('movies')).order_by('-movies_count')

SELECT "movies_actor"."name", COUNT("movies_movie_actor"."movie_id") AS "movies_count" FROM "movies_actor" LEFT OUTER JOIN "movies_movie_actor" ON ("movies_actor"."id" = "movies_movie_actor"."actor_id") GROUP BY "movies_actor"."name" ORDER BY "movies_count" DESC

In [21]:
Movie.objects.values('title').annotate(amount_of_actors=Count('actor__name')).order_by('-amount_of_actors')[0]

{'title': 'The Lord of the Rings: The Two Towers', 'amount_of_actors': 2}

In [5]:
actor = Actor.objects.get(pk=1)
print(actor)

Tom Hanks